div{
  text-align: center;
}

#Downtown_LA{
  min-height: 100px;
  width: 100%;
  background-color: red;
}

#Hollywood{
  min-height: 100px;
  width: 100%;
  background-color: blue;
}

#Miracle_Mile{
  min-height: 100px;
  width: 100%;
  background-color: purple;
}

#West_LA{
  min-height: 100px;
  width: 100%;
  background-color: yellow;
}

#Santa_Monica{
  min-height: 100px;
  width: 100%;
  background-color: green;
}

img{
  margin: 5px;
  display: inline-flex;
  height: 150px;
  width: auto;
}
